.computer.only.tablet.only.row 
  .ui.borderless.fixed.menu(style='background-color: #dbdfd9;')
    .ui.container
      .left.menu
        a.item()
          img.ui.tiny.image(src='/public/Asset 15.png' id='logo')
      |
      .middle.menu 
        a.item
          .ui.fluid.category.search
            .ui.icon.input
              input.prompt(type='text' placeholder='Search' style='background-color: #dbdfd9;')
              i.search.icon
      .right.menu
        .a.item
          i.big.home.icon
        .a.item
          i.big.paper.plane.outline.icon 
        .a.item
          i.big.compass.outline.icon
        .a.item
          i.big.heart.outline.icon
        .a.item 
          img.ui.mini.spaced.circular.image(src='https://gravatar.com/avatar/4cacc6923e96a42bdcff347ebee7385f?s=60&d=retro')
.mobile.only.row
  .ui.fluid.top.fixed.four.item.menu
    a.item
      img.ui.tiny.image(src='/public/Asset 15.png' id='logo')
    if !user
      a.item(href='/login') Login
      a.item(href='/signup') Create Account
    else
      a.item.newpost
        i.big.write.square.icon
      a.item(href='/notifications') 
        i.big.alarm.icon
      .ui.simple.dropdown.item
        if user.profile.picture
          img.ui.mini.spaced.circular.image(src='/user_post/'+user.profile.picture)
        else
          img.ui.mini.spaced.circular.image(src=user.gravatar(60))
        i.dropdown.icon
        .menu
          a.item(href='/account') My Account
          .divider
          a.item(href='/me') My Profile
          .divider
          a.item(href='/logout') Logout



